<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopFoldView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63B67AA21C24ECCC008DEE8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B67ABB1C24ECCC008DEE8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B67AC61C24ECCC008DEE8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
